<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>REPLACE ME (what you're studying, interests, goals, etc.)</p>
      <p>REPLACE ME (what you're studying, interests, goals, etc.)</p>
      <p>REPLACE ME (what you're studying, interests, goals, etc.)</p>
      <p>REPLACE ME (what you're studying, interests, goals, etc.)</p>
      <p>REPLACE ME (what you're studying, interests, goals, etc.)</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>REPLACE ME (something like "Stay tuned for future updates")</p>
  </aside>
</div>